<div class="features_body">
  <img src="/assets/features_3x.png">
  <div class="content">
    <div class="features_content1">
      <p>去中心化IM</p>
    </div>
    <div class="features_content2">
      <p class="left">ORACLE预言机</p>
    </div>
    <div class="features_content3">
      <p class="right">RANDAO思想</p>
    </div>
    <div class="features_content4">
      <p class="left">智能助手</p>
    </div>
    <div class="features_content5">
      <p class="right">智能客服</p>
    </div>
    <div class="features_content6">
      <p class="left">智能合约引擎</p>
    </div>
    <div class="features_content7">
      <p class="right">智能个性推荐</p>
    </div>
    <div class="features_content8">
      <p>跨链钱包</p>
    </div>
  </div>

</div>
