
<div class="section1">
  <app-index></app-index>
  <app-concept></app-concept>
</div>
<div class="section2">
  <app-eco></app-eco>
  <app-doublechains></app-doublechains>
</div>
<div class="section3" *ngIf="showSection3">
  <app-infra-title></app-infra-title>
  <app-infra></app-infra>
  <app-features></app-features>
</div>
<div class="section4" *ngIf="showSection4">
  <app-apps></app-apps>
  <app-services></app-services>
</div>
<div class="section5" *ngIf="showSection5">
  <app-team></app-team>
</div>
<div class="section6" *ngIf="showSection6">
  <app-roadmap></app-roadmap>
</div>


