.doublechain_body {
  background-color: #1E1482;
  /*height: 300px;*/
  width: 100%;
  float: left;
}
p{
  color: white;
  margin: 0px;
  text-align: center;
  /*line-height: 20px;*/
  font-size: 12px;
  font-weight: 100;
}
.doublechain_head p {
  font-size: 36px;
  font-weight: 400;
}
.doublechain_subtitle{
  color: #267DD0;
}
img {
  width: 100%;
  opacity: .2;
}
.doublechain_content img {
  width: 20%;
  position: absolute;
  margin-left: 40%;
  margin-top: -33%;
  opacity: 1;
}
.doublechain_content1 {
  /*margin-left: 1%;*/
  margin-top: -35%;
}
.doublechain_content2 {
  margin-left: -25%;
  margin-top: 4.5%;
}
.doublechain_content3 {
  margin-left: 25%;
  margin-top: -1.5%;
}
.doublechain_content4 {
  margin-left: -25%;
  margin-top: 11%;
}
.doublechain_content5 {
  margin-left: 27%;
  margin-top: -1.5%;
}
.doublechain_content6 {
  margin-left: 0%;
  margin-top: 5%;
  margin-bottom: 10%;
}
@media only screen and (min-width: 1400px) {
  .doublechain_content6 {
    margin-top: 8%;
  }
}
@media only screen and (min-width: 1200px) {
  .doublechain_content6 {

    margin-top: 7%;

  }
}
@media only screen and (min-width: 1100px) and (max-width: 1199px) {
  .doublechain_content6 {

    margin-top: 6%;

  }
}
@media only screen and (max-width: 1000px) {
  .doublechain_content6 {

    margin-top: 4%;

  }
}
@media only screen and (max-width: 800px) and (min-width: 450px){
  .doublechain_content img {
    width: 18%;
    position: absolute;
    margin-left: 41%;
    margin-top: -30%;
    opacity: 1;
  }
}
