<div class="doublechain_body">

  <div class="doublechain_head">
    <p class="doublechain_title">双链体系</p>
    <p class="doublechain_subtitle">DOUBLE CHAIN SYSTEM</p>
    <img src="/assets/doublechain_back.png">
  </div>
  <div class="doublechain_content">
    <img src="/assets/doublechain_icon.png">
  </div>
  <div class="doublechain_content1">
    <p>权益奖励</p>
  </div>
  <div class="doublechain_content2">
    <p>平台通证</p>
  </div>
  <div class="doublechain_content3">
    <p>应用生态</p>
  </div>
  <div class="doublechain_content4">
    <p>记账节点</p>
  </div>
  <div class="doublechain_content5">
    <p>去中心化投票</p>
  </div>
  <div class="doublechain_content6">
    <p>通证系统</p>
  </div>
</div>
