<div class="apps_body" id="apps">
  <div class="apps_head">
    <p class="apps_title">应用场景</p>
    <p class="apps_subtitle">SCENARIOS</p>
  </div>
  <mat-grid-list cols="{{col_count}}" class="apps_list">
    <mat-grid-tile class="apps_1">
      <p class="apps_head1">
        <img src="/assets/apps_icon1.png" style="padding: 7.5px;">
        <br/>渠道<br/>CHANNEL
      </p>
    </mat-grid-tile>
    <mat-grid-tile class="apps_2">
      <p class="apps_head1">
        <img src="/assets/apps_icon2.png">
        <br/>媒体<br/>MEDIA
      </p>
    </mat-grid-tile>
    <mat-grid-tile class="apps_3">
      <p class="apps_head1">
        <img src="/assets/apps_icon3.png">
        <br/>广告<br/>ADVERTISEMENT
      </p>
    </mat-grid-tile>
    <mat-grid-tile>
      <p class="apps_head1">
      <img src="/assets/apps_icon4.png" style="padding: 6.5px;">
      <br/>游戏<br/>GAME
    </p>
    </mat-grid-tile>
  </mat-grid-list>
</div>
