<div class="eco_body">
  <img src="/assets/eco_background.png" class="background">
  <div class="eco_head">
    <p class="eco_title">生态系统</p>
    <p class="eco_subtitle">ECOSYSTEM</p>
  </div>
  <div class="eco_content1">
    <p>双TOKEN经济模型 <br/>FGE & FGC</p>
    <img src="/assets/eco.png">
  </div>
  <div class="eco_content2">
    <p>参与式决策 <br/>PDM Participatory Decision Making</p>
    <img src="/assets/eco.png">
  </div>
  <div class="eco_content3">
    <p>公平竞猜服务平台 <br/> FGSP Fair guessing service platform </p>
    <img src="/assets/eco.png">
  </div>
  <div class="eco_content4">
    <p>API (应用程序编程结构)<br/>
      SDK(软件开发工具包)</p>
    <img src="/assets/eco.png">
  </div>
</div>
