.concept_body {
  background-color: white;
  width: 60%;
  margin-left: 20%;
  float: left;
}
p {
  color: #646464;
  margin: 0px;
  text-align: center;
  font-size: 12px;
  -webkit-transform:scale(0.8);
  -moz-transform: scale(1);
  opacity: .8;
}
.concept_1 {
  border-right-style: solid;
  border-color: #eeeeee;
  border-right-width: 1px;
}
.concept_2 {
  border-right-style: solid;
  border-color: #eeeeee;
  border-right-width: 1px;
}
.concept_3 {
  border-right-style: solid;
  border-color: #eeeeee;
  border-right-width: 1px;
}

.concept_list{
  margin-top: 40px;
  margin-bottom: 40px;
}


img {
  width: 20px;
  /*height: 20px;*/
  padding: 5px;
}
.detail_toggle {
  float: left;
  width: 10%;
  padding-left: 90%;
  margin-bottom: 0px;
}
.toogle_txt {
  width: 10%;
  float: left;
  line-height: 24px;
}
mat-slide-toggle {
  float: left;
  font-size: 12px;
  color: #646464;
  font-weight: 100;
  -webkit-transform:scale(0.8);
  -moz-transform: scale(1);
  opacity: .8;
}
.concept_head1_txt {
  font-weight: 400;
  margin: 20px;
}
@media only screen and (max-width: 450px) {
  /* 手机 */
  .concept_body {

    width: 98%;
    margin-left: 1%;
    float: left;
  }
  .concept_2 {
    border-right-style: none;
    border-color: #eeeeee;
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }
  .concept_3 {
    border-right-style: solid;
    border-color: #eeeeee;
    border-right-width: 1px;
    border-top-style: solid;
    border-top-width: 1px;
  }
}
