<div class="concept_body">
  <mat-grid-list cols="4" class="concept_list">
    <mat-grid-tile class="concept_middle">
      <p class="concept_head1">
        <mat-icon>toll</mat-icon>
        <br/>公开透明<br/>TRANSPARENT
      </p>
    </mat-grid-tile>
    <mat-grid-tile class="concept_middle">
      <p class="concept_head1">
        <mat-icon>camera</mat-icon>
        <br/>简洁流畅<br/>CONCISE
      </p>
    </mat-grid-tile>
    <mat-grid-tile class="concept_middle">
      <p class="concept_head1">
        <mat-icon>search</mat-icon>
        <br/>代码开源<br/>OPEN SOURCE
      </p>
    </mat-grid-tile>
    <mat-grid-tile>      <p class="concept_head1">
      <mat-icon>people</mat-icon>
      <br/>社区自治<br/>COMMUNITY
    </p></mat-grid-tile>
  </mat-grid-list>
</div>
