.infra_body {
  /*background-color: black;*/
  height: 300px;
  width: 100%;
  float: left;
}
p {
  color: white;
  margin: 0px;
  text-align: center;
  line-height: 100px;
}
@media only screen and (min-width: 451px) {
  /* 手机 */
  .infra_body {
    width: 50%;
  }
}
img {
  width: 50%;
  height: 50%;
  margin-left: 25%;
}
.layer1 {
  /*background-color: #2b2192;*/
  width: 18%;
  border-bottom: 45px solid #03A9F4;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  height: 2px;
  color: white;
  margin-left: 30px;
  font-size: 12px;
  line-height: 45px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.layer2 {
  /*background-color: #2b2192;*/
  width: 25%;
  border-bottom: 45px solid #00bcd4;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  height: 2px;
  color: white;
  margin-left: 20px;
  font-size: 12px;
  line-height: 45px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.layer3 {
  /*background-color: #2b2192;*/
  width: 35%;
  border-bottom: 45px solid #009688;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  height: 2px;
  color: white;
  margin-left: 10px;
  font-size: 12px;
  line-height: 45px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.layer4 {
  /*background-color: #2b2192;*/
  width: 40%;
  border-bottom: 45px solid #259b24;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  height: 2px;
  color: white;
  font-size: 12px;
  line-height: 45px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.layers {
  /*padding-left: 39%;*/
  /*padding-top: 6%;*/
}
