.infra_body {
  /*background-color: black;*/
  /*height: 300px;*/
  width: 100%;
  float: left;
  margin-top: 5%;
  margin-left: 10%;
}
p {
  color: white;
  margin: 0px;
  text-align: center;
  line-height: 100px;
}
@media only screen and (min-width: 451px) {

  .infra_body {
    width: 40%;
  }
}
img {
  width: 50%;
  height: 50%;
  margin-left: 25%;
}
.layer1 {
  /*background-color: #2b2192;*/
  width: 90px;
  border-bottom: 70px solid #267DD0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  height: 0px;
  color: white;
  margin-left: 30px;
  font-size: 12px;

  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.layer2 {
  /*background-color: #2b2192;*/
  width: 150px;
  border-bottom: 70px solid #4BB4DC;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  height: 0px;
  color: white;
  margin-left: 20px;
  font-size: 12px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  line-height: 35px;
}
.layer3 {
  /*background-color: #2b2192;*/
  width: 210px;
  border-bottom: 70px solid #4BDCDC;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  height: 0px;
  color: white;
  margin-left: 10px;
  font-size: 12px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  line-height: 35px;
}
.layer4 {
  /*background-color: #2b2192;*/
  width: 270px;
  border-bottom: 50px solid #41BE96;
  border-left: 22px solid transparent;
  border-right: 22px solid transparent;
  height: 0px;
  color: white;
  font-size: 12px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  line-height: 50px;
}

.layers {
  /*padding-left: 39%;*/
  /*padding-top: 6%;*/
  font-weight: 200;
}
