.services_body {
  background-color: white;
  /*height: 300px;*/
  width: 100%;
  float: left;
}
p{
  color: white;
  margin: 0px;
  text-align: center;
  /*line-height: 20px;*/
  font-size: 12px;
  font-weight: 100;
}
.services_head {
  position: absolute;
  width: 100%;
  margin-top: 5%;
}
.services_head p {
  font-size: 36px;
  font-weight: 400;
}
.services_subtitle{
  color: #267DD0;
}
img {
  width: 100%;

}
