<div class="roadmap_body" id="roadmap">
  <div class="roadmap_icon_2017">
    <img src="/assets/roadmap_2017.png">
  </div>
  <div class="roadmap_content">
    <div class="roadmap_left">
      <div class="roadmap_left_detail">
        <img src="/assets/roadmap_left.png">
        <div class="roadmap_card">
          <div class="roadmap_card_month">
            08
          </div>
          <div class="roadmap_card_detail">
            完成竞猜链白皮书1.0版
            确立技术架构
          </div>
        </div>
      </div>
      <div class="roadmap_left_detail">
        <img src="/assets/roadmap_left.png">
        <div class="roadmap_card">
          <div class="roadmap_card_month">
            08
          </div>
          <div class="roadmap_card_detail">
            完成竞猜链白皮书1.0版
            确立技术架构
          </div>
        </div>
      </div>
    </div>
    <div class="roadmap_right">
      <div class="roadmap_right_detail">
        <img src="/assets/roadmap_right.png">
        <div class="roadmap_card">
          <div class="roadmap_card_month">
            08
          </div>
          <div class="roadmap_card_detail">
            完成竞猜链白皮书1.0版
            确立技术架构
          </div>
        </div>
      </div>
      <div class="roadmap_right_detail">
        <img src="/assets/roadmap_right.png">
        <div class="roadmap_card">
          <div class="roadmap_card_month">
            08
          </div>
          <div class="roadmap_card_detail">
            完成竞猜链白皮书1.0版
            确立技术架构
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
