<div class="services_body">

  <div class="services_heads">
    <p class="services_head">公共服务体系</p>
    <p class="services_subhead">PUBLIC SERVICES</p>

  </div>
  <!--<img src="/assets/services_background.png">-->

    <!--<div class="services_titles">-->
      <!--<div class="services_title">网络平台服务</div>-->
      <!--<div class="services_title">第三方访问接入</div>-->
      <!--<div class="services_title">线上线下合作</div>-->
      <!--<div class="services_title">资产兑换</div>-->
      <!--<div class="services_title">竞猜项目综合管理</div>-->
    <!--</div>-->

  <div class="services_contents">
    <div class="services_content">
      网络平台服务<br/>
      竞猜链将提供智能化的合约模板和框架，应用程序组件，以及定制的API和SDK给第三方提供娱乐竞猜服务的机构或者个人，降低娱乐竞猜的线上开发门槛，打开专属社区网络接入渠道
      <mat-divider></mat-divider>
    </div>

    <div class="services_content">
      第三方访问接入<br/>
      竞猜链将提供智能化的合约模板和框架，应用程序组件，以及定制的API和SDK给第三方提供娱乐竞猜服务的机构或者个人，降低娱乐竞猜的线上开发门槛，打开专属社区网络接入渠道
      <mat-divider></mat-divider>
    </div>

    <div class="services_content">
      线上线下合作<br/>
      竞猜链将提供智能化的合约模板和框架，应用程序组件，以及定制的API和SDK给第三方提供娱乐竞猜服务的机构或者个人，降低娱乐竞猜的线上开发门槛，打开专属社区网络接入渠道
      <mat-divider></mat-divider>
    </div>
    <div class="services_content">
      资产兑换<br/>
      竞猜链将提供智能化的合约模板和框架，应用程序组件，以及定制的API和SDK给第三方提供娱乐竞猜服务的机构或者个人，降低娱乐竞猜的线上开发门槛，打开专属社区网络接入渠道
      <mat-divider></mat-divider>
    </div>
    <div class="services_content">
      竞猜项目综合管理<br/>
      竞猜链将提供智能化的合约模板和框架，应用程序组件，以及定制的API和SDK给第三方提供娱乐竞猜服务的机构或者个人，降低娱乐竞猜的线上开发门槛，打开专属社区网络接入渠道
      <mat-divider></mat-divider>
    </div>
  </div>
</div>
